@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", serif; */
.website1{
    width: 1600px;
    height: 4541px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    padding: 0px;
    
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin:0 auto;
}
.main{
background-color: aliceblue;
}
#b{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 32px;
font-weight: 700;
line-height: 38px;
letter-spacing: 0%;
text-align: left;
}
#bd{
    color: rgb(0, 106, 80);
font-family: Fira Sans;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
#class{
   /* Frame 2 */
/* position: absolute; */
width: 1600px;
height: 100px;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 160px 24px 160px;


}
.perent{
position: static;
width: 1280px;
height: 560px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 64;
padding: 80px 100px 80px 100px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 80px 0px;
border-radius: 24px;

background: rgb(198, 228, 214);
margin-left: 120px;
}
.child{
    /* Frame 3 */
position: static;
width: 622px;
height: 326px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 64px;
}
.btn{
    border-radius: 8px;

background: rgb(0, 106, 80);
/* Frame 2 */
position: static;
width: 270px;
height: 56px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 48;
padding: 17px 34px 17px 34px;


/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 24px 0px;
margin-top: 24px;
color:aliceblue
}
#h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 24px;
}
.perent1{
    /* Frame 2087325501 */
position: static;
width: 1280px;
height: 324px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 32;
padding: 0px;
margin-left: 120px;



/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 0;
margin: 80px ,0px;
}
.piller{
    /* Frame 2087325500 */
position: static;
width: 1280px;
height: 244px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24px;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}
.innovation{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
}
.img{
    margin-left: 10px;
    margin-top: 10px;
}
.h3{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-left: 10px;
}
.p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-left: 10px;
}
#pera{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-size: 16px;
font-weight: 400;
text-align: left;
width: 1280px;
height: 48px;
margin top: 12px;
}
.card-box{
   margin-left: 120px;;
    margin-top: 80px;
}
.cardbox-container{
    
    /* Frame 2087325500 */
position: static;
width: 1280px;
height:325px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 24px;
padding: 0px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
}
.cardbox-contant{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    width: 410px;
    height: 325px;
    background: rgb(255, 255, 255);
}
.card-img{
margin-left: 10px;
margin-top: 10px;
}
.card-heading{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.card-pera{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
}
.card-btn1{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    margin-top: 48px;
    color: aliceblue;

}
.card-btn2{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(9, 161, 92);
    color: aliceblue;
    margin-top: 48px;
}
.card-btn3{
    width: 122px;
    height: 41px;
    border-radius: 8px;
    background: rgb(255, 194, 57);
    margin-top: 48px;
    color: aliceblue;
}
#card1{
    background: rgba(84, 144, 245, 0.2);
}
#card2{
    background: rgb(198, 228, 214);
}
#card3{
    background: rgb(247, 235, 207);
}
.cotation{
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;

background: rgb(255, 255, 255);
/* Frame 2087325495 */
position: static;
width: 1280px;
height: 256px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 24;
padding: 48px 24px 48px 24px;
background-image: url(../assets/quote-bg.png);
background-repeat: no-repeat;
background-position-x: 20px;
background-position-y: 20px;


/* Inside Auto Layout */
flex: none;
order: 0;
flex-grow: 1;
margin: 0px 24px;
}
#cotation{
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
font-weight: 400px;
margin: 12px 0px;
width: 1232px;
height: 96px;
margin-top: 0px;
}
#cotation-heading{
    font-size: 20px;
font-weight: 600px;
line-height: 24px;
margin-top: 12px;
margin-bottom: 4px;
}
#yunus{
    font-size: 16px;
font-weight: 400px;
margin-top: 4px;
}
.news{
    margin-left: 120px;
    margin-top: 80px;
}
#recent{
    font-size: 40px;
font-weight: 700;
line-height: 48px;
margin-bottom: 12px;
}
#recent1{
    font-size: 16px;
font-weight: 400;
width: 1280px;
height: 48px;
margin-bottom: 32px;
}
.recent-news{
    /* Frame 2087325509 */
position: static;
width: 1280px;
height: 402px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32px;
padding: 48px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
    border-radius: 24px;

background: rgb(255, 255, 255);
margin-left: 120px;
}
#setellite-img{
    border-radius: 24px;
    width: 408px;
height: 306px;
}
.lunches{
    width: 744px;
height: 38px;
font-size: 32px;
font-weight: 700;
}
.aljazeer{
    width: 134px;
    height: 40px;
}
#datetime{
    width: 744px;
height: 24px;
}
#setellite-pera{
    font-size: 16px;
font-weight: 400;width: 744px;
height: 72px;
margin-top: 12px;
}
#recent-button{
    width: 139px;
height: 48px;
border-radius: 8px;
font-size: 18px;
font-weight: 600px;
background: rgb(0, 106, 80);
color: aliceblue;
}
#setellite2{
      /* Frame 2087325509 */
position: static;
width: 1280px;
height: 402px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 32px;
padding: 48px;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 24px 0px;
    border-radius: 24px;

background: rgb(255, 255, 255);
margin-left: 120px;
}
#donate{
   display: flex;
   flex-direction: column;
   align-items: center;
}
#donate-1{
    position: static;
width: 1280px;
height: 48px;
font-size: 40px;
font-weight: 700;
align-self: stretch;
}